<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.pharmegic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PocketYoga.ImageResultActivity"></activity>
        <activity android:name=".PocketYoga.UploadAsanActivity" />
        <activity android:name=".PocketYoga.ChooseYogaActivity" />
        <activity android:name=".PocketYoga.MonitorAct" />
        <activity android:name=".PocketYoga.LeaderBoardActivity" />
        <activity android:name=".PocketYoga.YogaMainActivity" />
        <activity android:name=".PocketYoga.StartupActivity" />
        <activity android:name=".BoardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".MenuScreen" />
        <activity android:name=".Auth.LoginActivity" />
        <activity android:name=".Auth.DifferentAuth" />
        <activity android:name=".Auth.GoogleSignInActivity" />
        <activity android:name=".Auth.PasswordlessActivity" />
        <activity android:name=".Auth.SignupActivity" />
        <activity android:name=".Auth.BaseActivity" />
        <activity android:name=".Auth.PhoneAuthActivity" />
        <activity android:name=".Auth.AnonymousActivity" /> <!-- <activity android:name=".Auth.FacebookLoginActivity" /> -->
        <activity android:name=".Music.MusicActivity" />
        <activity android:name=".SpaceWars.Spacewar" />
        <activity android:name=".Maps.MapsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".Chatbot.ChatActivity" />
        <activity android:name=".Meme.MemeActivity" />
        <activity android:name=".ChatApp.AnonymousChat" />
        <activity android:name=".PaytmActivity" />
    </application>

</manifest>